.tall-section {
    height: 1000px;
    background-color: #f8f9fa;
}

body {
    padding-top: 50px; /* Adjusted to prevent content overlap with the fixed navbar */
}

header {
    padding: 20px 0;
}

.btn-default {
    margin-top: 10px;
}
